<!--Modal Div here-->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profModalLabel">Edit Profile Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Beginning the body of the modal here, split into 2 columns;
    One for the picture and upload button, and the other one for the text fields-->
        <form class="editProfile">
          <div class="container-fluid">
            <div class="row">
              <div class="col col-lg-4">
                <div class="row">
                  <div class="col col-lg-12 d-flex align-items-center">
                    <img id="edit-prof-pic" src="/assets/images/profile-pic-transparent.png" alt="Skasaha (Granblue Fantasy)" />
                  </div>
                </div>
                <div class="row">
                  <div class="col col-lg-12 mt-2">
                    <button type="button" class="btn btn-primary">Upload Image</button>
                  </div>
                </div>
              </div>

              <div class="col col-lg-4 d-flex align-items-stretch">
                <div class="row">
                  <div class="col col-lg-12">
                    <input type="text" class="form-control modal-text" id="firstName" placeholder="First Name">
                  </div>
                  <div class="col col-lg-12">
                    <input type="text" class="form-control modal-text" id="lastName" placeholder="Last Name">
                  </div>
                  <div class="col col-lg-12">
                    <textarea class="form-control modal-text" rows="2" id="status" placeholder="Status..."></textarea>
                  </div>
                </div>
              </div>
              <div class="col col-lg-4 d-flex align-items-left">
                <div class="row">
                  <div class="col col-lg-12">
                    <input type="text" class="form-control modal-text" id="gamerTag" placeholder="Xbox Tag...">
                  </div>
                  <div class="col col-lg-12">
                    <input type="text" class="form-control modal-text" id="psn" placeholder="PSN ID...">
                  </div>
                  <div class="col col-lg-12">
                    <input type="text" class="form-control modal-text" it="steam" placeholder="Steam ID...">
                  </div>
                </div>
              </div>
            </div>

          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    </form>
  </div>
</div>

<div class="container" id="top-section">
  <div class="row" id="">

    <div class="col s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text cardSize">
          <span class="card-title">
            <div class="col col-lg-12">
              <p id="prof-name" class="prof-info">{{user.firstName}}</p>
            </div>
          </span>

          <div class="col s4">

            <div class="row">
              <div class="col s12">
                <img id="prof-pic" src="{{user.image}}" />
              </div>
            </div>

            <div class="row">
              <div class="col s12 ">

                <button class="btn" type="submit" data-toggle="modal" data-target="#profileModal" name="action" id="edit-prof-btn">Edit Profile
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>

          </div>

          <div class="col s4" id="prof-information">

            <div class="row">

            </div>
            <div class="row">
              <div class="col s12">
                <p id="prof-loc" class="prof-info">Status: {{user.status}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col s12">
                <p class="prof-tag">Xbox Tag: {{user.gamerTag}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <p class="prof-tag">PSN ID: {{user.psn}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col s12 ">
                <p class="prof-tag">Steam ID: {{user.steam}}</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="container" id="bottom-section">

  <div class="col col-lg-7" id="lib-container">
    <div class="row">
      <div class=" col col-lg-4" id="current-lib-games">
        <div class="row no-gutter">

          <div class="row" id="lib-game-list">
            {{!-- populates game library here --}}
          </div>
          <div class="row" class="friend-list">
            <h3>Friends List:</h3>
            <div id="friend-dump">
              {{!-- populates friend list here --}}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
 crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="assets/js/profile.js"></script>